// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root{
  text-align: center;
  padding-bottom: 10px;
}

#logotype img {
  position: relative;
  float: right;
}